@model ALONSO_LABACTIVITY1.Models.Student
@{
    ViewData["Title"] = "Index";
}

<h1>Student Info</h1>

<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Course: @Model.Course</p>

<p>Full Info: @Model.FullInfo()</p>
<p>Greeting: @Model.Greeting()</p>
<p>Year Level: @Model.YearLevel()</p>


